

body {
    background-color: rgba(252, 252, 253);
}

.container {
    background-color: rgba(252, 252, 253);
}

.nav-link{
    font-size: 30px;
    font-weight: bold;
}

table, tr, th, td {
    border:1px solid black;
  }