

body {
    background-color: rgb(132, 132, 252);
}

.container {
    background-color: rgba(252, 252, 253, 0.9);
    padding: 10px 40px 1px 40px;
	margin-top: 40px;
	margin-bottom: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: large;
    font-family:Arial;
}

.nav-link{
    font-size: 30px;
    font-weight: bold;
}

.navbar-collapse{
    text-align: center;
    margin: auto;
    position: relative;
  }

table, tr, th, td {
    border:1px solid black;
}

.form-select { 
    background-color: lightyellow;
    width: 200px;
}

.forcenter{
    display: flex;
    justify-content: center;
}

.form-label{
    font-size: 20px;
    font-weight: bold;
}

/*.btn{
    background-color: rgb(167, 236, 248);
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    color: royalblue;
    font-size: 22px;
    font-weight: bolder;
}*/

#myBtn {
    font-size:40px;
    font-weight: bold;
    width:60px;
    height: 60px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    /*z-index: 99;*/
    border: none;
    outline: none;
    background-color: rgba(252, 252, 253, 0.9);/*rgb(154, 154, 196);*/
    color: blue;
    cursor: pointer;
    padding-bottom: 10px;
    border-radius: 20px;
}
  
#myBtn:hover {
    background-color: rgb(173, 173, 173);
}

#pdf{
    background-color: white;
}

footer p{
    text-align: center;
    font-size: 15px;
    padding-right: 35px;
    padding-bottom: 20px;
}